[db]
path = "./challenges_db"

[api]
internal_host = "0.0.0.0"
internal_port = 3030

[rpcs]
mainnet = ""
goerli = ""
sepolia = ""

arbitrum_mainnet = ""
arbitrum_goerli = ""

optimism_mainnet = ""
optimism_goerli = ""

zksync_mainnet = ""
zksync_goerli = ""
zksync_sepolia = ""